// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

 

.background-clothes{
    background: url('../assets/imgs/background-clothes.jpg') no-repeat center ;
    background-size: cover;
}

.content-ios{
    background: url('../assets/imgs/background-clothes.jpg') no-repeat center ;
    background-size: cover;
}

.toolbar-title{
    color: #fff
}

.background-verde-clothes{
    background-color: #46a997 !important; 
}

.btn-clothes{
    background-color: #00b2ab;
    color: #fff; 
}

.content {
    background-color: rgba(0,0,0,0.3);
    color: #fff;
}

.toolbar-background{
    background-color: transparent;
} 

.border-none .toolbar-background{
    border: none !important;
} 

 .menu-clothes-item{
    line-height: 40px;
    background: transparent;
    color: #fff;
 }
 
 .no-shadow-header::after{
     content: none !important
 }

.bar-buttons{
    color: #46a997;
}